/* 
   .container {
    background: url('./images/Frame\ 8.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
    
  .container.image-transition { 
    width: 458px;
    height: 458px;
    left: 50%;
    top: 50%;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    transition: all 1s ease;
  } 

   */

   
   
  

 


  .container2 {
    overflow-x: hidden;
    height: 100vh;
  }

  .img{
    width:70vw;
    height:120vh;
    }
     
    
      .container {
        position: relative;
        height: 100vh;
        max-width: 100vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.897);
      }
    
    
      .container h1{
        font-size: 64px;
        color:rgba(255, 255, 255, 0.801);
      }
    
      
    
      .profilePicture{
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-radius 0.5s ease;
        
      }
      
     
      
      
      .profilePicture.visible {
        opacity: 1;
        display: flex;
        transform: translateY(0);
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100vw;
        max-height: 80vh;
        width:fit-content;
        height: auto;
        
      }
    
     
      .profilePicture.circular {
        display: flex;
        justify-content: center;
        align-items: center;
        left:50%;
        top:50%;
        transition: all 0.5s ease;
        margin-bottom: 0;
        
      }
    
      .profilePicture.circular img {
        width: 430px;
        height: 430px;
        position: absolute;
        border-radius: 50%;
        transition: all 2s ease;
        
      }
      
      
      .name-reveal {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        top:90%;
      }
    
      .name-reveal .mask {
        position: absolute;
        width: 70%;
        height: 30px;
        background-color: rgb(251, 251, 251);
        animation: mask-shift 8s ease forwards;
        margin:0;
      }
      
    
      
      @keyframes mask-shift {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      
     
      .profilePicture.sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 12%;
        top: 38%;
        transition: all 1s ease;
      }
    
    
      .profilePicture.sidebar img {
        width: 250px;
        height: 250px;
        position: absolute;
        border-radius: 8px;
        margin-bottom: 0; 
        
      }
      
    
      .name-reveal.sidebar{
        justify-content: left;
        transition: all 1s ease;
        left: 6%;
        /* top: 0%;  */
        transform: translateY(-200%);
        transition: transform 1s ease;
        
      } 

      .intro {
        opacity: 0;
        transition: opacity 1s ease;
      }
      
      .intro-visible {
        opacity: 1;
        top: 50%;
        left: 12%;
        transform: translate(-50%, -150%);
        position: absolute;
        color:gray;
        
      }
      
      .introDiv {
        position: relative;
        white-space: wrap;
      }
      
      