.contactcontainer {
  background-color:  #040404;
  }

 
  .body{
    background-color:  #040404;
    color:rgba(255, 255, 255, 0.801);
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* gap: 200px; */
    margin:20px;
    /* position: absolute;
    left:0; */
  }

  .personalDetails{
    position: absolute;
    left:5%;

    color:rgba(255, 255, 255, 0.801);
  }


 

  .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 0 auto;
  }

.formbutton{
  margin:5px;
}

.findmesection{
  position: absolute;
  bottom: 10%;
}

.findme{
  text-align: center;
}