
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #040404;
  /* background-color: transparent; */
  height: 12vh;
  box-shadow: 0 4px 18px rgba(206, 206, 206, 0.2);
} 

.navC.container-fluid{
  padding:0;
}


.navbar-nav {
  margin-left: auto;
}

.name{
  margin-left: 1rem;
}


.nav-link {
  color:rgba(255, 255, 255, 0.801);
  margin-left: 10px;
  z-index: 1;
  background-color:  #040404;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.nav-link:last-child {
  
  margin-right: 2rem;
 
}


.nav-link:hover {
  color: gray;
}




.navbar .nav-link.active {
  font-weight: bold;
}




@media (max-width: 768px) {
  .navbar-nav {
    box-shadow: 0 4px 18px rgba(206, 206, 206, 0.413);
  }
}







