nav{
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.897); */
  background-color: transparent;
  width:100vw;
  z-index: 1;
  }      

   

nav ul {
  display: flex; 
  justify-content: end;
  list-style: none;
  padding: 10px;
  margin: 10px;
}

nav li {
  margin-right: 20px; 
  
}

nav li:last-child {
  margin-right: 10px; 
}

nav a {
  text-decoration: none;
  /* color:rgba(255, 255, 255, 0.801); */
  color: blue;
  font-weight: bold;
}