
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  background-color: #040404;
  /* background-color: transparent; */
  height: 10vh;

  
} 



.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: white;
  margin-left: 10px;
  z-index: 1;
}

.nav-link:last-child {
  
  margin-right: 20px;
 
}


.nav-link:hover {
  color: gray;
}







